@model IEnumerable<POSSystem.Models.ProductView>
    <div>
        @foreach (var item in Model)
        {

            <div id="product_@item.ID" style="float:left;width:20%;height:80px;margin:5px;background-image:url('../../Content/images/@item.Image');">
                @item.Name
                <button type="button" class="add_to_sale" id="@item.ID">Add</button>
            </div>
        }
    </div>